:root{
    --color-primary:#212529; 
    --color-secundaria: white;
    --color-terciaria:  #495057;
    --color-font: #000000;
    --color-botaoSeguir: #4263EB;
    --color-botaoPostar: #DEE2E6;
 
}




