.digitarTituloPost{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 16px 20px;
   width: 375px;
   height: 52px;
   background: var( --color-secundaria);
   border: 2px solid var(--color-botaoPostar);
   border-radius: 4px;
   margin-bottom: 22px;
}
.digitarDescricaoPost{
   width: 375px;
   height: 130px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 28px 21px 29px;
   gap: 10px;
   left: 0%;
   right: 0%;
   top: 0%;
   bottom: 0%;
   background: var( --color-secundaria);
   border: 2px solid var(--color-botaoPostar);
   border-radius: 4px;
   margin-bottom: 22px;
}
input{
   border-style: none;
}
.usuarioPerfilOldPost{
   max-width: 385px;
   margin-top: 20px;
   align-items: center;
   flex-direction: column;
   display: flex;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 40px;
}

.tituloOldPost{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 40px;
   color: var(--color-primary);

   margin-right: 20px;
   margin-bottom: 20px;
   border-style: none;

}
.descricaoOldPost{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: var( --color-terciaria);
   margin-right: 20px;
   margin-bottom: 32px;
   border-style: none;
}


.botaoOldPost{
   
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 0px 12px;
   gap: 10px;
   color:var(--color-secundaria);
   width: 92px;
   height: 38px;
   background: var( --color-primary);
   border: 2px solid var( --color-primary);
   border-radius: 4px;
   cursor:pointer;

   margin-right: 32px;

}

.nomeProfissao{
 
   
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 40px;
  
}
.profissao{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: var(--color-terciaria)
}
.imagemNomeProfissao{
   justify-content: space-between;
   width: 100%;
   align-items: center;
   flex-direction: column;
   display: flex;
   margin-bottom: 40px;
  
   
 
}
.divContemBotaoIcone{
   display: flex;
   gap:10px;
   align-items: center;
   margin-top: 32px;
}
.pSugestoesSeguir{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   color: var(--color-primary);
   width: 269px;
   height: 24px;
   order: 0;
   flex-grow: 0;
   
}

@media(min-width: 700px){

   .digitarTituloPost{
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       padding: 0px;
       gap: 22px;
      
   }
   .sectionOldPost{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       gap: 52px;
       width: 713px;
       height: 1126px;
       left: 100px;
       top: 540px;
   }

   .sugestoesParaVoceSeguir{
       display: flex;
       flex-direction: column;
       gap: 20px;
       /* align-items: flex-start; */
       padding: 0px;
       position: sticky;
       top: 100px;
       z-index: 2;
       
   } 
   main{
       flex-direction: row;
       flex-wrap: wrap;
   }
   .ulSugestoes{
       flex-direction: column;

       overflow: unset;

   }
   .imagemNomeProfissao{
       flex-direction: row;
   }
   

} 

